* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100%;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsright {
  margin-left: 20px;
}

.app_headerImage {
  object-fit: contain;
}

.app_header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
